<div class="container">

	<!-- Image -->
	<div class="row"> 
	  	<div class="col-xs-24 col-md-24 col-lg-24"> 
	  		<div ng-repeat="about in abouts">
				<img ng-src="{{about.img}}" class="img-responsive" alt="Responsive image">
          	</div>
        </div>
    </div>

    <!-- Content & tabs -->
	<div class="row">
		<div class="col-xs-24 col-md-24 col-lg-24"> 
			<div ng-repeat="about in abouts">
			 	<about-tabs></about-tabs>
			</div>
    	</div>
	</div>
</div> 
				





	
