<div class="container">
	<div class="row myPage">
		<div class="col-xs-24 col-md-24">
            <h1>VÅRA MÄKLARE</h1><hr>          
        </div>
    		
    		<div ng-repeat="seller in sellers" my-modal-seller>
				<div class="col-xs-24 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-6 col-md-offset-0 myMouseOver" ng-click="openModal(seller)">
					<div><br>
						<img ng-src={{seller.img}} width="230px" height="240px" class="img-thumbnail"><br>
						<h2><p>{{seller.name}}</p></h2>
						<h4>{{seller.position}}</h4>				
						<b>Telefon: </b>
						<p>+46{{seller.phone}}</p>
						<b>Email: </b>
						<h4><p>{{seller.email}}</p>
						</h4><br>
					</div>	
				</div>
			</div>
			
		</div>	
	</div>
</div>

		



	